*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
      font-family: 'Segoe UI';
      font-weight: bold;
      margin: 0px;
      padding: 0px;
      background: #272a33;
}

.container{
  display: flex;
  justify-content: left;
  margin: 20px 0px 20px 70px;
  flex-wrap: wrap;
  margin-left: 70px;
}

#add_here{
  display: flex;
  flex-wrap: wrap;
}

.card{
  background: #303540;
  width: 280px;
  margin: 10px;
  border-radius: 5px;
}

.team-card{
  padding: 10px;
}

#body2{
  margin-left: 70px;
  display: flex;
  flex-wrap: wrap;
}

#body2 button{
  background-color: #454d60;
  color: white;
  padding: 15px 20px;
  display: block;
  text-align: center;
  margin: 20px 10px;
  width: 240px;
  border: 0;
  border-radius: 5px;
  font-size: 17px;
}

#body2 button:hover{
  opacity: 0.5;
}

.add-card{
  background: #404859;
  width: 280px;
  margin: 10px;
  padding: 130px 110px;
  border-radius: 5px;
  text-align: center;
  flex-wrap: wrap;
}

.add-card:hover{
  opacity: 0.5;
}

.add-card button{
  background: #404859;
  color: #303540;
  border: 0;
  font-size: 100px;
}

.card-image{
  height: 150px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

.card h2{
  padding: 10px;
  color: white;
}

.card label{
  font-size: 20px;
  padding: 10px;
  color: white;
}

.card input, textarea{
  margin: 10px;
  border:0;
  background:#a9a9a9;
  display:block;
  text-align: left;
  padding: 15px 20px;
  outline:none;
  width: 240px;
  color: white;
  text-align: center;
  border-radius: 5px;
  transition: 0.25px;
  color: black;
}

::placeholder{
  color: black;
  opacity: 0.7;
}

.card i{
  padding: 10px;
  color: #aaa;
}
.card p{
  padding: 10px;
  margin-top: -10px;
  margin-bottom: -10px;
  color: #aaa;
}
.card a{
  background-color: #454d60;
  color: white;
  padding: 15px 20px;
  display: block;
  text-align: center;
  margin: 20px 50px;
}

label.tourna{
  color: white;
  font-size: 35px;
  line-height: 150px;
  padding: 0 250px;
}
.logo img{
    position: absolute;
    margin-top: -30px;
    margin-left: 50px;
    width: 200px;
    height: 200px;
}

nav{
      background-color: #24305d;
      width: 100%;
      height: 150px;
      margin: 0px;
      padding: 0px;
}

nav ul{
  float: right;
  margin-right: 20px;
}


nav ul li{
  display: inline-block;
  line-height: 70px;
  margin-right: 10px;
  margin-top: -10px;
}

nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #303540;
  transition: .5s;
}

.footer{
  padding: 20px 0;
  background-color: #24305d;
}

.footer .social{
  text-align: center;
  padding-bottom: 10px;
  color: #4b4c4d;
}

.footer .social a{
  font-size: 24px;
  color: #aaa;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-left: 0 8px;
  opacity: 0.75;
}

.footer .social a:hover{
  opacity: 0.9;
}

.footer .topfooter{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 50px;
}
.footer .copyright{
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
  font-weight: normal;
  color: #aaa;
}
